:root{
    --ui-main-font : "Times New Roman";
    --ui-secondary-font: "Times New Roman";
}



body,html{
 	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
     overflow:hidden;
      -webkit-touch-callout: none;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    touch-action:none;
    -webkit-user-drag:none;
    -moz-user-drag:none;
    -moz-user-drag:none;
    -ms-user-drag:none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    
      /* Apply main font that can be override */
      font-family: var(--ui-main-font);
      letter-spacing:1.5px;
      font-weight: 100 !important;
    
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: fixed;



}    

html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: inherit !important;
}

h1{
    font-weight:100;
}

h2{
    font-weight:100;
}

h3{
    font-weight:100;
}

h4{
    
}






.ui-unselectable {
    pointer-events:none;
      -webkit-touch-callout: none;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;
    touch-action:none; -webkit-user-drag:none;
    -moz-user-drag:none;
     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.ui-untouchable {
    -webkit-touch-callout: none;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;
    touch-action:none; -webkit-user-drag:none;
}



